// inject:global
// endinject

// bower:css
// endbower

// inject:app
// endinject
/* app css stylesheet */
* {box-sizing: border-box;}
body > div {overflow:visible !important;}
a{display:block;}
section div.md-padding {background:rgba(0,0,0,0.5);}
div md-input-container {margin:0; width:100%;}
section md-input-container .md-input {border-color:white;}
md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {padding-left:10px;color:white;}
md-sidenav {    background: #383838;
    height: 100vh;
    margin-top: -20px;
    z-index: 20000;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
}
md-select .md-select-value {border-bottom-color:white; color:white;}
md-select .md-select-value.md-select-placeholder {color:white;}
md-sidenav md-content {background:#9E9E9E;}
md-sidenav img {display:block; width:100%; height:auto;     max-width: 100px;
    margin: 30px auto;}
md-sidenav h1 {text-transform:uppercase;text-align:center; font-weight:normal; color:white;}
md-sidenav .md-button {    display: block;
    text-align: center;
    width: 95%;
    background: rgba(255,255,255,.12);
    box-sizing: border-box;
    margin: 10px auto;}
md-sidenav .md-button a {color:white; text-decoration: none;}
md-content ul {padding:40px; margin:0;}
md-content li {list-style:none;}
md-content li img {max-width:500px; height:auto; display:block;margin-top:6px;}
div.fill-height {background:rgba(0,0,0,0.9);padding: 20px 0 20px;}
@media screen and (max-width: 760px) {
  padding:50px;
}
div.fill-height img {max-width: 60px;
    display: block;
    margin:0 auto;
    max-height: 55px;
    padding: 0px;}
div.fill-height h1 {padding-left:30px;margin:0; color:white; font-weight:normal;}
md-toolbar {background:rgba(0,0,0,0.7) !important;}
md-toolbar h1 {color:white; text-align: center; text-transform: uppercase;}
main md-toolbar h1 {color:#fff;  margin:10px;}
md-toolbar h3 {font-weight:normal; color:white;}
img.largeThumb {max-width:250px; display:block; width:100%; height:auto; margin:0 auto;}
div.thumb {margin:10px auto; text-align: center;}
div.thumb img {height: auto; cursor:pointer;
  width: 100%;
  max-width:50px;
  padding:5px; border:1px solid black; margin:5px;}
div.products > div { box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);text-align: center;padding:10px; margin:10px;}
div.products > div a {text-decoration:none; color:black;}
div.products a span {display:block;text-align: center;}
ngproduct-details.ng-scope.ng-isolate-scope span.price {display:block; margin:10px auto; text-align: center; font-size:24px; padding:10px; background: rgba(0,0,0,0.2);}
span.checkout {color:white !important;}
md-toolbar.shopping-cart.ng-scope.layout-align-end-center.layout-row {background:none !important;}
md-toolbar.shopping-cart.ng-scope.layout-align-end-center.layout-row div {margin:0 20px;}
.glyph {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'fontAwesome';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;width:15px; height:15px;}
.glyph-remove {width:100%; display:block;}
.glyph-remove:before {       content: "\f00d";
    background: #000;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    left: -5px;
    position: absolute;
    top: -10px;}
.glyph-minus:before {content:"\f068"}
.glyph-plus:before {content:"\f055"}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
ngproduct-details md-select {border:1px solid black; padding:5px;}
ngproduct-details .md-select-value {color:: black;}
ngproduct-details md-select .md-select-value.md-select-placeholder {color:rgba(0,0,0,0.8);}
ngproduct-details .specs {border-left:1px solid black;}
ngproduct-details p { padding:40px; background: black; color: #fff; text-align: center;margin:0;}
ngcart-addtocart md-select label, md-select-label {text-align: center; padding:5px;    display: block; text-transform: uppercase; color:black;}
ngcart-cart table {width:100%; text-align:center;}
ngcart-cart table tr {background:rgba(0,0,0,0.1); }
ngcart-cart table th, ngcart-cart table td {padding:5px;}
